# Don't track content of these folders

# Temparary folders
.vscode
apply/*
backups/*
build/*
dist/*
env_setup/*
hepynet.egg-info/*
html
run/*
test/*

# Side files that are not needed to be saved #
*.bak
*.ipynb_checkpoints*
*.pdf
*.png
*.pyc
*.tex
*.root
*.xml
TRexFitter/*/*
**/.DS_Store


# Output data (local only)
*.json
*.h5

# Don't save ini file unless dicided to do so
#*.ini

# Packages #
*.ipynb
share/zprime/apply/loop_low_mass_point.sh
share/zprime/apply/loop_mass_point.sh

# dynamic ignores
docker/backup_Dockerfile
hepynet.egg-info/dependency_links.txt
