% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "test" 
  Label: "non-resonant HH \rightarrow bbll"
  CmeLabel: 13 TeV
  LumiLabel: "139 fb^{-1}"
  POI: SigXsecOverSM
  ReadFrom: NTUP
  NtuplePaths: "/data/dihiggs/fit_ntup/run2"
  NtupleName: "ntup"
  MCweight: "weight"
  Lumi: 139
  MCstatThreshold: NONE
  StatOnly: TRUE
  SplitHistoFiles: TRUE
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  HistoChecks: NOCRASH
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  PlotOptions: NOXERR
  ImageFormat: png, pdf
  DebugLevel: 3
  

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  FitBlind: TRUE
  %doLHscan: SigXsecOverSM
  UseMinos: SigXsecOverSM, NF_Zll, NF_top

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  SignalInjection: FALSE
  SignalInjectionValue: 1.0


% -------------------- %
% --- Significance --- %
% -------------------- %
Significance: "significance"
  SignificanceBlind: FALSE
  POIAsimov: 1

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: SigXsecOverSM
  Title: "#mu (HH)"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: sig_nonres
   
NormFactor: NF_Zll
  Title: "NF_{Zll}"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: Zll
  
NormFactor: NF_top
  Title: "NF_{Top}"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: ttbar

% --------------- %
% --- REGIONS --- %
% --------------- %

% Control Region %

Region: "TopCR"
    Type: CONTROL
    NtuplePathSuff: "/mva_2tag_topcr"
    %Variable: "dnn_out_sig", 10, 0, 1
    %VariableTitle: "DNN score (sig)"
    Variable: "ll_m", 30, 110, 410
    VariableTitle: "m_{ll} [GeV]"
    Label: "Top CR"
    ShortLabel: "Top CR"
    LogScale: TRUE

%Region: "ZllCR"
%    Type: CONTROL
%    NtuplePathSuff: "/mva_2tag_zllcr"
%    %Variable: "dnn_out_sig", 10, 0, 1
%    %VariableTitle:"DNN score (sig)"
%    Variable: "ll_m", 10, 75, 110
%    VariableTitle: "m_{ll} [GeV]"
%    Label: "Zll CR"
%    ShortLabel: "Zll CR"
%    LogScale: TRUE
%
Region: "ZllCR"
    Type: CONTROL
    NtuplePathSuff: "/mva_2tag_zllcr"
    Selection: "dnn_out_Zll>0.2"
    Variable: "dnn_out_sig", 10, 0.2, 1.0
    VariableTitle:"DNN score (sig)"
    Label: "Zll CR"
    ShortLabel: "Zll CR"
    LogScale: TRUE

% Signal Region %

Region: "SR1_2tag_lmsf"
    Type: SIGNAL
    NtuplePathSuff: "/mva_2tag_sr1_lmsf"
    Variable: "dnn_out_sig", 10, 0, 1
    VariableTitle: "DNN score (sig)"
    Label: "2tag SR1 LM/SF"
    LogScale: TRUE

Region: "SR1_2tag_lmdf"
    Type: SIGNAL
    NtuplePathSuff: "/mva_2tag_sr1_lmdf"
    Variable: "dnn_out_sig", 10, 0, 1
    VariableTitle: "DNN score (sig)"
    Label: "2tag SR1 LM/DF"
    LogScale: TRUE

Region: "SR1_2tag_hmdf"
    Type: SIGNAL
    NtuplePathSuff: "/mva_2tag_sr1_hmdf"
    Variable: "dnn_out_sig", 10, 0, 1
    VariableTitle: "DNN score (sig)"
    Label: "2tag SR1 HM/DF"
    LogScale: TRUE

Region: "SR2_2tag"
    Type: SIGNAL
    NtuplePathSuff: "/mva_2tag_sr2"
    Variable: "dnn_out_sig", 10, 0, 1
    VariableTitle: "DNN score (sig)"
    Label: "2tag SR2"
    LogScale: TRUE


% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "Data"
   Type: DATA
   NtupleFile: "data_all"

Sample: "sig_nonres"
  Type: SIGNAL
  Title: "HH"
  FillColor: 3
  LineColorRGB: 0,0,0
  NtupleFile: "sig_nonres"
  MCweight: 1.0/139.0

Sample: "ttbar"
  Type: BACKGROUND
  Title: "top"
  FillColorRGB: 7,162,171
  LineColorRGB: 0,0,0
  NtupleFile: "bkg_top"
  MCweight: 1.0/139.0

Sample: "Zll"
  Type: BACKGROUND
  Title: "Zll"
  FillColorRGB: 244,244,111
  LineColorRGB: 0,0,0
  NtupleFile: "bkg_Zll"
  MCweight: 1.0/139.0

Sample: "diboson"
  Type: BACKGROUND
  Title: "diboson"
  FillColorRGB: 69,196,139
  LineColorRGB: 0,0,0
  NtupleFile: "bkg_diboson"
  MCweight: 1.0/139.0  % k-factor 1 or 1.7?
  
Sample: "fakes"
  Type: BACKGROUND
  Title: "fake"
  FillColorRGB: 94,104,122
  LineColorRGB: 0,0,0
  NtupleFile: "bkg_fakes"
  MCweight: 1.0/139.0  % k-factor 1 or 1.7?

Sample: "Higgs"
  Type: BACKGROUND
  Title: "Higgs"
  FillColorRGB: 244,121,66
  LineColorRGB: 244,121,66
  NtupleFile: "bkg_Higgs"
  MCweight: 1.0/139.0  % k-factor 1 or 1.7?
  



% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "ATLAS_LUMI_Run2"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.017
  OverallDown: -0.017
  Category: Instrumental
  SubCategory: "Lumi"
  Exclude: ttbar,Zll

  





